Xml/metadata.rnc

# metadata.rnc
# ----------------------------------------------------------------------------------------------------------------------
# This is a compact syntax Relax NG Schema for the DBL @type="text" metadata information file.
# DBL bundle version = 1.2

# Suggested Dublin Core Metadata (DCMI) element/refinement relationships are added as documentation strings "## DCMI: "
# A syntax encoding scheme may be mentioned after the DCMI documentation in parentheses; e.g. language/iso (ISO639-3)
# ----------------------------------------------------------------------------------------------------------------------

default namespace = ""
datatypes xsd = "http://www.w3.org/2001/XMLSchema-datatypes"

start =
  element DBLMetadata {
    attribute type { "text" }&
    attribute typeVersion { "1.2" }&
    # id is overwritten at submission 
    attribute id { xsd:string { pattern="[a-f0-9]{16}" } }&
    attribute revision { xsd:integer }&
    element identification {
      element name {
        ## DCMI: title
        xsd:string { minLength = "2" }
      }&
      # nameLocal should default to name 
      element nameLocal { xsd:string { minLength = "2" } }&
      element abbreviation { xsd:string { pattern="[A-Za-z0-9\-]{2,8}" } }&
      # abbreviationLocal should default to abbreviation
      element abbreviationLocal { xsd:string { minLength="1" maxLength="8" } }&
      element scope {
        ## DCMI: title/scriptureScope
        text 
      }&
      element description {
        ## DCMI: description
        text 
      }&
      element dateCompleted {
        ## DCMI: date
        (xsd:date | xsd:gYear | xsd:gYearMonth | xsd:dateTime )?
	  }&
      # systemId[@type='paratext'] is overwritten by Paratext
      element systemId {
        attribute type {
        ## UBS Translation Management System database ID
        "tms" |
        ## Paratext Project GUID
        "paratext" |
        ## SIL REAP database ID
        "reap" |
        ## Biblica database id
        "biblica" },
        xsd:string { minLength = "2" } 
      }*&
      # bundleProducer is overwritten by Paratext
      element bundleProducer { xsd:string { minLength = "2" } }
    }&
    element confidential {
      ## DCMI: accessRights/confidential
      xsd:boolean
    }&
    element agencies {
      element etenPartner { "UBS" | "WBT" | "Biblica" }?&
      # primary translation or coordination/sponsorship agency
      element creator { 
        ## DCMI: creator
        xsd:string { minLength = "2" } 
      }+&
      # publisher may be the same as translation (description/sponsorship) 
      element publisher {
        ## DCMI: publisher
        xsd:string { minLength = "2" } 
      }?&
      element contributor {
        ## DCMI: contributor
        text 
      }*
    }&
    element language {
      element iso { 
        ## DCMI: language/iso (ISO639-3)
        xsd:string { pattern = "[a-z]{3}" }
      }&
      element name { 
        ## DCMI: subject/language (ISO639-3)
        xsd:string { minLength = "2" }
      }&
      element ldml { 
        ## DCMI: language/ldml
        xsd:string { pattern = "[A-Za-z]{2,3}([\-_][A-Za-z0-9]+){0,3}" }?
      }&
      element rod { 
        ## DCMI: language/rod
        xsd:string { pattern = "[0-9]{5}" }?
      }&
      element script {
        ## DCMI: language/script
        xsd:string { minLength = "2" }
      }&
      # LTR (Left to Right) or RTL (Right to Left) 
      # scriptDirection is overwritten by Paratext
      element scriptDirection {
        ## DCMI: language/scriptDirection
        ("LTR" | "RTL") 
      }&
      element numerals {
        ## DCMI: language/numerals
        ( empty | numeralSystem )
      }
    }&
    element country { 
      element iso { 
        ## DCMI: coverage/spatial (ISO3166)
        xsd:string { pattern = "[A-Z]{2,3}" } 
      }&
      element name { 
        ## DCMI: subject/subjectCountry
        xsd:string { minLength = "2" } 
      }
    }&
    element type { 
      element translationType { 
        ## DCMI: type/translationType
        translationType ?
      }& 
      element audience {
        ## DCMI: audience
        translationLevel ?
      }
    }&
    # bookNames/book is overwritten by Paratext
    element bookNames { 
      element book { 
        attribute code { bookCode }& 
        element long { 
          text 
        }& 
        element short { 
          text 
        }& 
        element abbr { 
          text 
        }
#        element name { 
#          attribute type {"long"}, 
#          text 
#        }& 
#        element name { 
#          attribute type {"short"}, 
#          text 
#        }& 
#        element name { 
#          attribute type {"abbr"}, 
#          text 
#        }
      }*
    }&
    element contents {
      ## DCMI: tableOfContents
      element bookList {
        attribute id { "default" }?&
        # default to name from identification section  
        element name { text }&
        # default to name local from identification section 
        element nameLocal { text }& 
        element abbreviation { text }& 
        element abbreviationLocal { text }&
        # e.g. "NT" | "NT + OT" or <Name> from Cannons.xml
        element description { text }&
        # e.g Protestant Bible (66 books) 
        element range { text }&
        # e.g Western Protestant order 
        element tradition { text }&
        element division {
          attribute id { "OT" | "NT" | "DC" },
          element books { 
            element book { 
              attribute code { bookCode }
            }+
          }
        }+
      }+
    }&
    # progress is overwritten by Paratext
    element progress {
      ## DCMI description/stage
      element book {
        attribute code { bookCode }&
        attribute stage { translationStage }
      }*
    }?&
	# Default to Publisher (from agencies) 
    element contact {
      element rightsHolder {
        ## DCMI: rightsHolder
        xsd:string { minLength = "2" }
      }&
	  # Default to rights holder 
      element rightsHolderLocal {
        ## DCMI: rightsHolder/contactLocal
        xsd:string { minLength = "2" }?
      }&
      element rightsHolderAbbreviation {
        ## DCMI: contactAbbreviation
        xsd:string { minLength = "2" }?
      }&
      element rightsHolderURL {
        ## DCMI: rightsHolder/contactURL
        xsd:anyURI?
      }&
      element rightsHolderFacebook {
        ## DCMI: rightsHolder/contactFacebook
        xsd:anyURI?
      }
    }&
    element copyright {
      # For example: (c) 2002, 2012 United Bible Societies
      element statement {
        attribute contentType { "xhtml" },
        ## DCMI: rights
        htmlMarkup
      }
    }&
    element promotion {
      element promoVersionInfo {
        attribute contentType { "xhtml" },
        ## DCMI: description/pubPromoVersionInfo
		htmlMarkup
      }&
      element promoEmail {
        attribute contentType { "xhtml" },
        ## DCMI: description/pubPromoEmail
        htmlMarkup
      }
    }?&
    element archiveStatus {
      # archivistName is overwritten by Paratext
      element archivistName {
        ## DCMI: contributor/archivist
        xsd:string { minLength = "2" }
      }&
      # dateArchived is overwritten by Paratext
      element dateArchived {
        ## DCMI: dateSubmitted (xsd:dateTime)
        xsd:dateTime
      }&
      # dateUpdated is overwritten by Paratext
      element dateUpdated {
        ## DCMI: modified (xsd:dateTime)
        xsd:dateTime
      }&
      element comments {
        ## DCMI: abstract
        xsd:string { minLength = "2" maxLength = "255" }
      }
    }&
    # format is overwritten by Paratext
    element format {
      ## DCMI: format
      "text/xml"
    }
  }

htmlMarkup = (
           element p { (text | htmlCharMarkup)+ }
         | element h1 { text }
         | element h2 { text }
         | element h3 { text }
         | element ul { 
             element li { text }+}
         | element ol { 
             element li { text }+}
         | element blockquote { text }
         | htmlCharMarkup)+

htmlCharMarkup = ( text
		 | element a {
             attribute href { xsd:anyURI },
             htmlCharMarkup
           }
         | element img {
            attribute src { xsd:anyURI },
            attribute alt { text }?,
            text
            }           
         | element br { empty }
         | element strong { text }
         | element b { text }
         | element em { text }
         | element i { text })

numeralSystem = (
           "Arabic" # (a.k.a. 'Hindu') = 0123456789
         | "Bengali"
         | "Burmese"
         | "Devanagari"
         | "Ethiopic"
         | "Farsi"
         | "Gujarati"
         | "Gurmukhi"
         | "Hindi" # (i.e. 'Arabic' as used in Egypt)
         | "Kannada"
         | "Khmer"
         | "Malayalam"
         | "Oriya"
         | "Tamil"
         | "Telugu"
         | "Thai"
         | "Tibetan")

translationType = (
           "First"
         | "New"
         | "Revision")

translationLevel = (
           "Basic"
         | "Common"
         | "Common - Literary"
         | "Literary"
         | "Liturgical")

# 1 = draft, 2 = internalReview, 3 = externalReview, 4 = finalReview
translationStage = ( "1" | "2" | "3" | "4")

bookCode = (
           "GEN"   # Genesis
         | "EXO" # Exodus
         | "LEV" # Leviticus
         | "NUM" # Numbers
         | "DEU" # Deuteronomy   
         | "JOS" # Joshua 
         | "JDG" # Judges 
         | "RUT" # Ruth 
         | "1SA" # 1 Samuel 
         | "2SA" # 2 Samuel 
         | "1KI" # 1 Kings 
         | "2KI" # 2 Kings 
         | "1CH" # 1 Chronicles 
         | "2CH" # 2 Chronicles 
         | "EZR" # Ezra 
         | "NEH" # Nehemiah 
         | "EST" # Esther (Hebrew)
         | "JOB" # Job 
         | "PSA" # Psalms 
         | "PRO" # Proverbs 
         | "ECC" # Ecclesiastes 
         | "SNG" # Song of Songs 
         | "ISA" # Isaiah 
         | "JER" # Jeremiah 
         | "LAM" # Lamentations 
         | "EZK" # Ezekiel 
         | "DAN" # Daniel (Hebrew)
         | "HOS" # Hosea 
         | "JOL" # Joel 
         | "AMO" # Amos 
         | "OBA" # Obadiah 
         | "JON" # Jonah 
         | "MIC" # Micah 
         | "NAM" # Nahum 
         | "HAB" # Habakkuk 
         | "ZEP" # Zephaniah 
         | "HAG" # Haggai 
         | "ZEC" # Zechariah 
         | "MAL" # Malachi 
         | "MAT" # Matthew 
         | "MRK" # Mark 
         | "LUK" # Luke 
         | "JHN" # John 
         | "ACT" # Acts 
         | "ROM" # Romans 
         | "1CO" # 1 Corinthians 
         | "2CO" # 2 Corinthians 
         | "GAL" # Galatians 
         | "EPH" # Ephesians 
         | "PHP" # Philippians 
         | "COL" # Colossians 
         | "1TH" # 1 Thessalonians 
         | "2TH" # 2 Thessalonians 
         | "1TI" # 1 Timothy 
         | "2TI" # 2 Timothy 
         | "TIT" # Titus 
         | "PHM" # Philemon 
         | "HEB" # Hebrews 
         | "JAS" # James 
         | "1PE" # 1 Peter 
         | "2PE" # 2 Peter 
         | "1JN" # 1 John 
         | "2JN" # 2 John 
         | "3JN" # 3 John 
         | "JUD" # Jude 
         | "REV" # Revelation 
         | "TOB" # Tobit 
         | "JDT" # Judith 
         | "ESG" # Esther Greek 
         | "WIS" # Wisdom of Solomon 
         | "SIR" # Sirach (Ecclesiasticus)
         | "BAR" # Baruch 
         | "LJE" # Letter of Jeremiah 
         | "S3Y" # Song of 3 Young Men 
         | "SUS" # Susanna 
         | "BEL" # Bel and the Dragon 
         | "1MA" # 1 Maccabees 
         | "2MA" # 2 Maccabees 
         | "3MA" # 3 Maccabees 
         | "4MA" # 4 Maccabees 
         | "1ES" # 1 Esdras (Greek)
         | "2ES" # 2 Esdras (Latin)
         | "MAN" # Prayer of Manasseh 
         | "PS2" # Psalm 151
         | "ODA" # Odes 
         | "PSS" # Psalms of Solomon 
         | "EZA" # Apocalypse of Ezra 
         | "5EZ" # 5 Ezra 
         | "6EZ" # 6 Ezra 
         | "DAG" # Daniel Greek 
         | "PS3" # Psalms 152-155
         | "2BA" # 2 Baruch (Apocalypse)
         | "LBA" # Letter of Baruch 
         | "JUB" # Jubilees 
         | "ENO" # Enoch 
         | "1MQ" # 1 Meqabyan 
         | "2MQ" # 2 Meqabyan 
         | "3MQ" # 3 Meqabyan 
         | "REP" # Reproof 
         | "4BA" # 4 Baruch 
         | "LAO" # Laodiceans 
           # Non scripture text Id's
         | "XXA" # Extra A, e.g. a hymnal 
         | "XXB" # Extra B 
         | "XXC" # Extra C 
         | "XXD" # Extra D 
         | "XXE" # Extra E 
         | "XXF" # Extra F 
         | "XXG" # Extra G 
         | "FRT" # Front Matter 
         | "BAK" # Back Matter 
         | "OTH" # Other Matter 
         | "INT" # Introduction 
         | "CNC" # Concordance 
         | "GLO" # Glossary 
         | "TDX" # Topical Index 
         | "NDX") # Names Index 
